ul{
    background-color: orangered;
    color: white;
    display: block;
    height: 50px;
}

.head li{
    list-style: none;
    display: inline;
    margin-right: 80px;
    margin-left: 60px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: rgb(226, 226, 243);
}

.title-line{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-line span{
    flex: 1;
    height: 2px;
    background-color: orangered;
}

div.content{
    display: block;
    margin-left: 90px;
    border: 8px double orangered;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
}

div.blog{
    display: inline;
    width: 780px;
    height: 400px;
    background-color: rgb(226, 226, 243);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px 20px;
    margin: 10px;
    margin-left: 60px;
    color: orangered;
}

.content img{
    float: left;
    border-radius: 50px 50px;
}

div.blog h2, p{
    width: 400px;
    margin-left: 150px;
}

div.cate{
    display: inline;
}

ul.category{
    display: block;
    width: 510px;
    margin-left: 20px;
    font-size: 22px;
    height: 140px;
    border-radius: 30px 30px;
    background-color: rgb(238, 218, 211);
    color: orangered;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div .side-bar-right{
    width: 40%;
    display: inline;
    float: right;
    background-color: orangered;
    height: 170px;
    margin: 16px;
}

.side-bar-right{
    margin-right: 20px;
    margin-top: -510px;
    float: right;

}
div.about{
    clear: both;
    display: table;
    content: "";
    display: block;
    color: rgb(226, 226, 243) ;
    background-color: orangered;
    width: 400px;
    height: 115px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
div.about img{
    float: left;
    margin-top: -50px;
    border-radius: 75px 75px;
}

div.about p{
    font-size: 20px;
    margin: 16px;
    margin-left: 16px;
}

i{
    font-size: 30px;
    margin: 10px;
}

.fa-facebook{
    color: #1877f2;
}

.fa-tiktok{
    color: black;
}

footer{
    margin-top: -100px;
}